@import '../../../../../sass/abstracts/colors';

.order-food {
  background-color: white;
  width: 50rem;
  height: 40rem;

}



 ::ng-deep sd-item-label .info {
  font-size: 2.5rem !important;
}

::ng-deep ngb-typeahead-window {
  background-color: white;
  display: block;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  max-height: 20rem;
  overflow-y: auto;
  width: 70%;
  padding: 1rem;
}

::ng-deep ngb-typeahead-window .dropdown-item {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  background: transparent;
  border: none;
  display: block;
  text-align: left;
  font-size: 1.6rem;
  &.active {
    color: white;
    cursor: pointer;
    background-color: $primary;
  }
}
