

<ul class="categories">
  <li class="categories__item" *ngFor="let category of categories">
    <div [id]="category?.id" class="categories__name">{{category?.name}}</div>
    <ul class="food-menus">
      <li class="food-menus__item" *ngFor="let menu of category.menus">
        <div class="food-menus__price">NRs.{{menu?.price}}</div>
        <div class="food-menus__name">{{menu?.name}}</div>
        <div class="food-menus__prep-time">Ready in {{menu?.prepTime}}</div>
      </li>
    </ul>
  </li>
</ul>
