

<ul class="categories">
  <li class="categories__item">
    <div class="categories__name">MoMo</div>
    <ul class="food-menus">
      <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li>
      <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li>
      <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li> <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li> <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li> <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li> <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li>
      <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li>
      <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li>
      <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li>
      <li class="food-menus__item">
        <div class="food-menus__price">NRs.120</div>
        <div class="food-menus__name">MoMo</div>
        <div class="food-menus__prep-time">Ready in 10 min</div>
      </li>

    </ul>
  </li>
</ul>
