@import '../../../../../sass/abstracts/colors';
@import '../../../../../sass/abstracts/variables';
@import '../../../../../sass/abstracts/mixins';



.login-card {
  width: 60rem;
  height: 40rem;
  @include absCenter;
}


.login {
  width: calc(100% - #{$message-box-image-width});
  float: right;
  height: 100%;
  position: relative;
  text-align: center;
}
